<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <title>Timestamp Microservice</title>
  </head>
  <body>
    <h1>Apis and Microservices Projects - Request Header Parser Microservice</h1>
    <h2>Part 2 of Free Code Camp Backend Challenges</h2>
    <h3>
      You could see the details of requirements <a href="https://dandelion-roar.glitch.me/" target="_blank">here</a>
    </h3>

    <ul>
      <b>Example Usage:</b>
      <div>
        <a href="https://request-header-parser-demo.glitch.me/api/whoami" target="_blank">[base url]/api/whoami</a>
      </div>
    </ul>
    <ul>
      <b>This will show client information: </b>
      <div id="display">
        { <br>
          <div id="inside">
            "ipaddress": "::ffff:127.0.0.1",<br>
            "language": "en-US",<br>
            "software": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/72.0.3626.119 Safari/537.36"<br>
          </div>  
        }
        
      </div>
    </ul>
    
  </body>
</html>
